<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My articles</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <app-search-bar (onSearchQueryChange)="searchArticles($event)"></app-search-bar>
  </ion-toolbar>
</ion-header>
@let articleItems = articles();
@let loading = isLoading();
<ion-content>
  <ion-list>
    @if (loading) {
      <ion-loading isOpen="loading" message="Loading..." spinner="circles"></ion-loading>
    } @else if (articleItems.length) {
      @for (item of articleItems; track item.id) {
        <app-article-item [articleItem]="item"></app-article-item>
      }
    } @else {
      <h3 class="ion-text-center">Aucun article disponible.</h3>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" [disabled]="noMoreArticles()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
